<ion-content [fullscreen]="true" color="benrica-default">

  <div class="login-screen">
    <div class="logo">logo</div>

    <div class="form">
      <ion-card id="email">
        <ion-label>E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-card>

      <ion-card id="password">
        <ion-label>Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-card>

      <ion-button color="benrica-grey" (click)="login()" expand="block">Entrar</ion-button>
    </div>

    <div class="register">
      <ion-text (click)="register()">Cadastre-se</ion-text>
    </div>
  </div>
</ion-content>
