<app-spinner [showSpinner]="showSpinner"></app-spinner>

<ion-toolbar color="green" translucent="false">
  <ion-buttons slot="start">
    <ion-icon *ngIf="company.exclusive === 0" (click)="backCompanies()" color="dark" name="chevron-back"></ion-icon>
  </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true" color="benrica-default">
  <div class="login-screen">
    <div class="logo">
      <img *ngIf="company.exclusive === 0" src="../../../assets/images/benrica_logo.png"/>
      <img *ngIf="company.exclusive === 1" [src]="urlImage + company.logo_img"/>
    </div>

    <div class="form">
      <ion-card id="email">
        <ion-label>E-mail</ion-label>
        <ion-input [formControl]="email" type="text" inputmode="email"></ion-input>
      </ion-card>
      <ion-label *ngIf="email.touched && email.invalid" class="ion-padding-horizontal" color="danger">Campo
        inválido.</ion-label>

      <ion-card id="password">
        <ion-label>Senha</ion-label>
        <ion-input [formControl]="password" type="password" maxlength="6"></ion-input>
      </ion-card>
      <ion-label *ngIf="password.touched && password.invalid" class="ion-padding-horizontal" color="danger">Campo
        inválido.</ion-label>

      <ion-button class="ion-margin-top" color="benrica-grey" (click)="login()" expand="block">Entrar</ion-button>
    </div>

    <div class="register">
      <ion-text (click)="register()">Cadastre-se</ion-text>
    </div>
  </div>
</ion-content>
