<ion-content [fullscreen]="true">
  <div class="home-screen">
    <ion-card>
      <div class="left-side">
        <div class="image">
          <ion-img src="../../../assets/images/Test-mock/Ellipse 3.svg"></ion-img>
        </div>
        <div class="infos">
          <ion-text>Cabelo</ion-text>
          <ion-text>Profissional</ion-text>
          <ion-text>Luíza</ion-text>
        </div>
      </div>

      <div class="right-side">
        <div class="price">R$50,00</div>
        <div class="icon">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card>
    <ion-card>
      <div class="left-side">
        <div class="image">
          <ion-img src="../../../assets/images/Test-mock/Ellipse 4.svg"></ion-img>
        </div>
        <div class="infos">
          <ion-text>Unhas</ion-text>
          <ion-text>Profissional</ion-text>
          <ion-text>Luíza</ion-text>
        </div>
      </div>

      <div class="right-side">
        <div class="price">R$50,00</div>
        <div class="icon">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
