ion-content {

  .change_password {
    display: flex;
    flex-direction: column;

    .description {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
    }

    ion-card {
      padding: 5px 20px;
      margin-right: 0;
      margin-left: 0;
      border-radius: 12px;
      background: rgba(203, 203, 203, 0.85) !important;
      margin-bottom: 5px;

      ion-label {
        color: #000;
      }

      ion-input {
        height: 35px;
      }

      ion-label {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.25px;
        color: black;
      }
    }

    .forgot {
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
      align-self: center;
      margin: 40px 0;
    }
  }


}
