<app-spinner [showSpinner]="showSpinner"></app-spinner>

<ion-toolbar translucent="false">
  <ion-buttons slot="start">
    <ion-icon (click)="back()" color="dark" name="chevron-back"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="change_password ion-padding">
    <ion-text class="description">Sua senha deve ter pelo menos 6 caracteres e deve incluir uma combinação de números,
      letras e caracteres
      especiais.
    </ion-text>

    <ion-card>
      <ion-label>Senha</ion-label>
      <ion-input [formControl]="password" maxlength="6"></ion-input>
    </ion-card>
    <ion-label *ngIf="password.touched && password.invalid" class="ion-padding-horizontal" color="danger">Campo
      inválido.</ion-label>

    <ion-card>
      <ion-label>Confirmar senha</ion-label>
      <ion-input [formControl]="confirmPassword" type="confirmPassword" maxlength="6"></ion-input>
    </ion-card>
    <ion-label *ngIf="confirmPassword.touched && confirmPassword.invalid && !validateInputsErros()"
      class="ion-padding-horizontal" color="danger">Campo
      inválido.</ion-label>
    <ion-label *ngIf="confirmPassword.touched && confirmPassword.invalid && validateInputsErros()"
      class="ion-padding-horizontal" color="danger">Senhas
      diferentes.</ion-label>

    <ion-text [routerLink]="['/logged/forget-password']" class="forgot">Esqueceu sua senha?</ion-text>


    <ion-button class="default-button" color="benrica-default" (click)="changePassword()"
      expand="block">Alterar</ion-button>
  </div>
</ion-content>
