ion-toolbar {
  color: black;
  --color: black
}

ion-content {
  width: 100%;

  .register {
    width: 100%;
    // height: 100%;

    .progress-bar {}
  }

  .form {
    width: 100%;

    ion-card {
      padding: 5px 20px;
      margin-right: 0;
      margin-left: 0;
      border-radius: 12px;
      background: rgba(203, 203, 203, 0.85) !important;
      margin-bottom: 5px;

      ion-label {
        color: #000;
      }

      ion-input {
        height: 35px;
      }

      .question {
        padding-left: 7px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
        color: #262338;
        margin-top: 5px;
      }

      .checkbox {
        width: 50%;
        display: flex;
        align-items: center;
        padding-bottom: 18px;
        margin-top: 10px;

        ion-checkbox {
          margin-right: 16px;
          --background: #D9DBE9;
          --background-checked: #0046E8;
          --border-color: #D9DBE9;
          --border-color-checked: #0046E8;
        }

        ion-label {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.25px;
          color: black;
        }
      }
    }

    .form-image {

      div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 5px;

        div {
          color: #033D60;
          // width: 40%;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: auto;
          line-height: 22px;
          text-align: center;
          letter-spacing: 0.25px;
          border: solid 2px #D9DBE9;
          padding: 10px 20px;
          border-radius: 10px;
        }

        ion-icon {
          font-size: 35px;
        }

        .checked {
          color: #0046E8;
        }

        #file-upload {
          display: none;
        }
      }

      .images {
        display: block;

        img {
          width: 100%;
          height: 300px;
          border-radius: 12px;
        }

        .closeImg {
          margin-top: 20px;
        }

        div {
          display: flex;
          justify-content: end;
          border: none;
          padding: none;
          border-radius: none;
        }
      }
    }

    ion-button {
      height: 56px;
      border-radius: 12px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: #000;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 30px 0;
    }
  }
}
